.popup__input {
  border: none;
  border-bottom: 1px #c4c4c4 solid;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  max-height: 35px;
}

.popup__input:focus {
  outline: none;
}

@media screen and (min-width: 426px) {
  .popup__input {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 425px) {
  .popup__input {
    margin-bottom: 30px;
  }
}