.popup__container {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 426px) {
  .popup__container {
    max-width: 510px;
  }
}

@media screen and (max-width: 425px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
  }
}