.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1281px) {
  .profile {
    margin-top: 40px;
    margin-bottom: 51px;
  }
}

@media screen and (max-width: 1280px) {
  .profile {
    margin-top: 40px;
    margin-bottom: 51px;
  }
}

@media screen and (max-width: 900px) {
  .profile {
    margin: 40px 19px 51px;
  }
}

@media screen and (max-width: 590px) {
  .profile {
    margin: 42px 0 36px;
    flex-direction: column;
    justify-content: center;
  }
}