.header__logo {

}

@media screen and (max-width: 1280px) {
  .header__logo {
    max-width: 142px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    padding-left: 27px;
    max-width: 103px;
  }
}