.header {
  max-width: 880px;
  border-bottom: 1px #545454 solid;
  margin: 0 auto;
}

@media screen and (min-width: 1281px) {
  .header {
    padding-top: 46px;
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    padding-top: 46px;
    padding-bottom: 37px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}