.profile__add-button {
  background-image: url('../../../images/icon_add-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 50px;
  background-color: #000;
  border: 2px #fff solid;
  align-content: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@media screen and (min-width: 591px) {
  .profile__add-button {
    margin-left: auto;
    padding: 12px 73px;
  }
}

@media screen and (max-width: 590px) {
  .profile__add-button {
    max-width: 100%;
    margin-left: 0;
    padding: 12px 128px;
  }
}