.profile-info__title {
  font-weight: 500;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .profile-info__title {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 1280px) {
  .profile-info__title {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 425px) {
  .profile-info__title {
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 0;
  }
}