.popup__button-close {
  border: none;
  background-color: transparent;
  background-image: url('../../../images/icon_close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  align-self: flex-end;
  position: absolute;
  margin: 0;
}

@media screen and (min-width: 550px) and (max-width: 1200px){
  .popup__button-close {
    padding-bottom: 6px;
    min-width: 32px;
    min-height: 32px;
    left: 102%;
    top: 0;
  }
}

@media screen and (max-width: 551px) {
  .popup__button-close {
    left: auto;
    top: 0;
    min-width: 20px;
    min-height: 20px;
  }
}

@media screen and (max-width: 425px) {
  .popup__button-close {
    top: 87px;
  }
}