@media screen and (min-width: 426px) {
  .popup__image {
    width: 433px;
    height: 540px;
  }
}

@media screen and (max-width: 425px) {
  .popup__image {
    width: 240px;
    height: 299px;
  }
}