@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/heder.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/content/content.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');
@import url('../blocks/profile-info/profile-info.css');
@import url('../blocks/profile-info/__changes/profile-info__changes.css');
@import url('../blocks/profile-info/__subtitle/profile-info__subtitle.css');
@import url('../blocks/profile-info/__title/profile-info__title.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__like/element__like.css');
@import url('../blocks/element/__title/element__title.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/button/button.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__button-close/popup__button-close.css');
@import url('../blocks/popup/__button-save/popup__button-save\ .css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/_opened/popup_opened.css');