.footer {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 1281px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding-left: 19px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}